<div class="uk-card uk-card-default uk-card-body uk-height-1-1">
  <h1 class="uk-heading-primary">My Salento Travel</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <hr class="uk-divider-icon">
  <div class="uk-child-width-1-3@m uk-grid-large uk-grid-match uk-grid uk-text-center">
    <div>
      <div class="uk-tile uk-tile-default uk-padding-medium uk-box-shadow-small">
        <h5>Accordati</h5>
        <h3 class="uk-margin-remove">550,00 €</h3>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-primary uk-padding-medium uk-box-shadow-small">
        <h5>Dati</h5>
        <h3 class="uk-margin-remove">250,00 €</h3>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-secondary uk-padding-medium uk-box-shadow-small">
        <h5>Dovuti</h5>
        <h3 class="uk-margin-remove">300,00 €</h3>
      </div>
    </div>
  </div>
  <div class="uk-clearfix uk-margin">
    <div class="uk-float-right">
      <button class="uk-button uk-button-primary" uk-toggle="target: #payments">Pagamenti</button>
    </div>
  </div>
</div>

<div id="payments" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Pagamenti</h2>
    </div>
    <div class="uk-modal-body uk-padding-remove-top uk-padding-remove-horizontal">
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>Valore</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-modal-footer">
      <div class="uk-clearfix">
        <div class="uk-float-right">
          <button class="uk-button uk-button-primary">Aggiungi</button>
        </div>
      </div>
    </div>
  </div>
</div>