<div class="uk-grid uk-grid-collapse uk-height-1-1">
  <div class="uk-width-1-4 uk-height-1-1">
    <div class="uk-card uk-card-small uk-card-primary uk-card-body">
      <h3 class="uk-card-title">My Salento Travel</h3>
      <p class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>
    <div class="uk-card uk-card-small uk-card-default uk-card-body">
      <h3 class="uk-card-title">My Salento Travel</h3>
      <p class="uk-text-truncate">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="uk-width-3-4 uk-height-1-1">
    <router-outlet></router-outlet>
  </div>
</div>